{%- if topicrow.U_MARTTIPHPBB_EXTRASTYLE -%}
    <p class="marttiphpbb-extrastyle-row">
        {{- lang('MARTTIPHPBB_EXTRASTYLE_EXTRASTYLED_FROM', topicrow.U_MARTTIPHPBB_EXTRASTYLE, topicrow.MARTTIPHPBB_EXTRASTYLE_NAME) -}}
    </p>
{%- elseif searchresults.U_MARTTIPHPBB_EXTRASTYLE -%}
    <p class="marttiphpbb-extrastyle-row">
        {{- lang('MARTTIPHPBB_EXTRASTYLE_EXTRASTYLED_FROM', searchresults.U_MARTTIPHPBB_EXTRASTYLE, searchresults.MARTTIPHPBB_EXTRASTYLE_NAME) -}}
    </p>
{%- endif -%}